@model Turn8.Models.Classes.Comment
@{
    ViewData["Title"] = "GetComment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Comment Update Page</h1>
<br />
@using (Html.BeginForm("UpdateComment", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.Id)
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x._Comment)
    @Html.TextAreaFor(x => x._Comment, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update Comment</button>
}
