@model Turn8.Models.Classes.BlogComments
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!---header---->
    <div class="header">
        <div class="container">
            <!---start-top-nav---->
            <div class="clearfix"></div>
            <!---//End-top-nav---->
        </div>
    </div>
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">
                <div class="contact-top">
                    <h3>Track List</h3>
                    <p>Click on the images below to see details.</p>
                </div>
                @foreach (var x in Model.Value1)
                {
                    <div class="single-grid">
                        <div class="left-text">
                            <h4>@x.Title</h4>
                        </div>
                        <a href="/blog/blogdetail/@x.Id"><img src="@x.BlogImage" alt="" /></a>
                        <p>
                            @if (x.Description.Length > 500)
                            {
                                    @x.Description.Substring(0, 500)
                            }
                            else
                            {
                                @x.Description
                            }...
                        </p>
                    </div>
                    <br /><br />
                }
                @Html.PagedListPager((IPagedList)Model.Value1, page => Url.Action("Index", new { page }))
            </div>
            <div class="col-md-4 side-content" style="margin-top:150px;">
                <div class="recent">
                    <h3>RECENT POSTS</h3>
                    <ul>
                        @foreach(var y in Model.Value3)
                        {
                            <li><a href="/blog/blogdetail/@y.Id">@y.Title</a></li>
                        }
                    </ul>
                </div>
                <div class="comments">
                    <h3>RECENT COMMENTS</h3>
                    <ul>
                        @foreach (var z in Model.Value2)
                        {
                            <li><strong>@z.Name</strong> on <a href="/blog/blogdetail/@z.Blog.Id">@z.Blog.Title</a></li>
                        }
                    </ul>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>




